@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: 'Cabin', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #292b2c;
}

input {
  width: 70%;
}

.sub-btn {
  width: 60%;
}

.fav-btn {
  border: none;
}

.carusel-photo {
  max-height: 45vh;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .carusel-photo {
    max-height: 45vh;
    width: 70vh;
    object-fit: cover;
  }
}
